<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-md-8 col-lg-6">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= link_to "Back", :back, class: "btn btn-primary" %>
        <h1 class="display-5 mb-2">Edit Your Profile</h1>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.label "Profile Details", style: "font-weight: bold;" %>
          <%= f.input :email, required: true, disabled:true %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          <%= f.input :username, label: "Username" %>
          <%= f.input :first_name, label: "First Name" %>
          <%= f.input :last_name, label: "Last Name" %>
          <%= f.label "Address Details", style: "font-weight: bold;" %>
          <%= f.input :addr_street1, label: "Street Line 1" %>
          <%= f.input :addr_street2, label: "Street Line 2" %>
          <%= f.input :addr_city, label: "City" %>
          <%= f.input :addr_area, label: "State/County" %>
          <%= f.input :addr_country, label: "Country", priority: ["United Kingdom"] %>
          <%= f.input :addr_postcode, label: "Post Code" %>
          <%= f.label "Security", style: "font-weight: bold;" %>
          <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
          <hr class="my-5">
          <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Update", class: "btn btn-primary" %>
        </div>
        <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>
      <% end %>
    </div>
  </div>
</div>
